$grey-color: #555555;
$blue-color: #0674ec;
$lightgrey-color: #eff1f5;
$darkgrey-color: #333333;
$purple-color: #7347c1;

%rounded-button-white {
  color: $blue-color;
  background-color: #fff;
  border-radius: 30px;
  padding: 13px 32px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  transition: all .3s;

  &:hover {
    color: #fff;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #fff;
  }
}

%rounded-button-transparent {
  color: #fff;
  background-color: transparent;
  border-radius: 30px;
  padding: 13px 32px;
  border: 1px solid #fff;
  transition: all .3s;

  &:hover {
    color: $blue-color;
    background-color: #fff;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  }
}

%rounded-button-blue {
  color: #fff;
  background-color: $blue-color;
  border-radius: 30px;
  padding: 13px 32px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  transition: all .3s;

  &:hover {
    color: $blue-color;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid $blue-color;
  }
}

.chevron__right {
  padding-left: 19px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
  }
}

.styled__select {
  &.jq-selectbox {
    display: inline-block;
    position: relative;


    .jq-selectbox__trigger-arrow {
      position: absolute;
      top: 21px;
      right: 20px;
      width: 11px;
      height: 6px;
      background-image: url('../img/icons/lnr-chevron-down.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .jq-selectbox__select {
      width: 223px;
      height: 47px;
      border-radius: 3px;
      border: 1px solid #eceff2;
      color: #747b86;
      font-size: 14px;
      line-height: 32px;
    }

    .jq-selectbox__select-text {
      padding-left: 22px;
      width: 164px !important;
      padding-top: 6px;
    }

    .jq-selectbox__dropdown {
      top: 40px;
    }

    .jq-selectbox__dropdown {
      position: absolute;
      background-color: #fff;
      width: 223px;
      margin-top: 8px;
      padding: 22px;
      font-size: 14px;
      color: #747b86;
      border-radius: 3px;
      border: 1px solid #eceff2;

      li {
        &:hover {
          color: $blue-color;
        }
      }
    }
  }
}