@import 'vars';
@import 'global';
@import 'libs';
@import 'fonts';

.header__inner {
  background-color: $lightgrey-color;
}

.header__top {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.header__btn {
  padding: 4px 18px;
  background-color: $blue-color;
  border-radius: 30px;
  text-align: center;
  margin-right: 390px;

  a {
    color: #fff;
    font-size: 14px;
    line-height: 28px;
  }
}

.header__menu-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  height: 80px;
  align-items: center;

  li {
    color: $darkgrey-color;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 42px;

    & + li {
      margin-left: 34px;
    }
  }
}

.header__search {
  position: relative;

  input {
    border: 1px solid #d9dfe5;
    border-radius: 30px;
    padding: 15px 86px 15px 26px;

    &::placeholder {
      font-size: 15px;
      line-height: 30px;
      color: #898f96;
    }
  }

  button {
    border: none;
    background-color: $blue-color;
    padding: 15px 27px;
    border-radius: 30px;
    position: absolute;
    right: 0;
  }
}

.search {
  min-height: 725px;
  margin-bottom: 230px;

  .container {
    position: relative;
  }
}

.search__content {
  padding-top: 184px;
  color: #fff;
  text-align: center;

  &-title {
    font-size: 60px;
    line-height: 70px;
    padding-bottom: 50px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

    span {
      font-weight: 700;
      display: block;
    }
  }

  &-descr {
    font-size: 20px;
    padding-bottom: 73px;
  }
}

.search__content-btn {
  margin-bottom: 120px;
}

.search__btn-white {
  @extend %rounded-button-white;
  margin-right: 30px;
}

.search__btn-transparent {
  @extend %rounded-button-transparent;
}

.search__form-inner {
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
  position: absolute;
  width: 100%;
  z-index: 3;

  span {
    position: absolute;
    background-color: #ffffff;
    max-width: 1140px;
    width: 100%;
    height: 20px;
    bottom: 130px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px;
    opacity: .5;
    z-index: 2;
  }

  span + span {
    max-width: 1110px;
    height: 30px;
    z-index: 1;
  }
}

.search__form {
  display: flex;
  justify-content: space-between;

  input {
    border-radius: 4px 0 0 4px;
    border: 1px solid #dcdcdc;
    padding: 20px 28px;
    max-width: 614px;
    width: 100%;

    &::placeholder {
      color: #676767;
    }
  }

  select {
    border-radius: 0 4px 4px 0;
    border: 1px solid #dcdcdc;
    border-left: none;
    padding: 20px;
    margin-right: 52px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url('../img/icons/arrow_down_icon.png') no-repeat 170px center;
    color: #676767;
  }

  button {
    background-color: $blue-color;
    border: none;
    border-radius: 4px;
    color: #fff;
    max-width: 223px;
    width: 100%;

  }
}

.benefits__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
  text-align: center;
  margin-bottom: 120px;
}

.benefits__item {
  max-width: 364px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  transition: all .3s;

  &:hover {
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.08);
    z-index: 1;
  }

  &-content {
    padding: 41px 26px 50px 26px;
  }

  &-title {
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
  }

  &-descr {
    max-width: 360px;
    width: 100%;
  }
}

.featured {
  background-color: #eff1f5;
  padding-top: 120px;
  padding-bottom: 120px;
}

.featured__top {
  margin-bottom: 50px;
  height: 110px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(108, 111, 115, 0.1);
  display: flex;
  align-items: center;

  &-title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    color: #000;
    padding-left: 30px;
  }
}

.featured__slider-item {
  display: flex;
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 30px 0 rgba(147, 155, 168, 0.1);
  min-width: 0;
  position: relative;
}

.featured__slider-img {
  max-height: 450px;
}

.featured__slider-info {
  background-color: #fff;
  padding: 51px 50px 25px 51px;
  position: absolute;
  max-width: 585px;
  top: 0;
  right: 0;

}

.featured__slider-title {
  font-size: 24px;
  color: #000;
  font-weight: 500;
  padding-bottom: 23px;
}

.featured__slider-maininfo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.featured__slider-author {
  display: flex;
  align-items: center;
  padding-right: 20px;

  span {
    padding-left: 9px;
    font-size: 15px;
    color: #000;
    font-weight: 700;
  }
}

.featured__slider-category {
  display: flex;
  align-items: center;

  span {
    padding-left: 9px;
    color: $purple-color;
    font-size: 15px;
  }
}

.featured__slider-descr {
  margin-bottom: 30px;
}

.featured__slider-tags {
  border-bottom: 1px solid $lightgrey-color;
  padding-bottom: 25px;

  a {
    color: #868c96;
    font-size: 15px;
    background-color: $lightgrey-color;
    border-radius: 30px;
    padding: 3px 14px;

    & + a {
      margin-left: 7px;
    }
  }
}

.featured__slider-stats {
  padding-top: 23px;
  display: flex;
  align-items: center;

  .price__button {
    background-color: $blue-color;
    border-radius: 30px;
    padding: 3px 18px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }

  .likes__button {
    margin-left: 19px;
    font-size: 15px;
    color: $grey-color;
    display: flex;
    align-items: center;
    padding-right: 20px;

    span {
      padding-left: 8px;
    }
  }

  .cart_button {
    display: flex;
    align-items: center;

    span {
      padding-left: 8px;
      color: $blue-color;
    }
  }
}

.featured__slider {
  position: relative;
  .slick-track {
    display: flex;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-arrow {
    position: absolute;
    font-size: 0;
    border: none;
    width: 55px;
    height: 45px;
    background-color: $purple-color;
    top: -127px;
    outline: none;

    &.slick-prev {
      right: 78px;
      z-index: 2;
      border-radius: 30px 0 0 30px;
      background-image: url('../img/icons/arrow_left_icon.png');
      background-repeat: no-repeat;
      background-position: center center;
    }

    &.slick-next {
      right: 23px;
      border-radius: 0 30px 30px 0;
      background-image: url('../img/icons/arrow_right_icon.png');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.newest {
  background-color: #f6f7fb;
  padding-bottom: 120px;
}

.newest__top {
  margin-bottom: 30px;
  height: 110px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(108, 111, 115, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  &-title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    color: #000;
    padding-left: 30px;
  }

  &-filter {
    a{
      display: flex;
      align-items: center;
    }
    span {
      color: #747b86;
      margin-right: 25px;
    }
  }
}

.newest__filters {
  margin-bottom: 30px;
  height: 110px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 2px 0 rgba(90, 93, 100, 0.1);

  button {
    margin: 0 10px;
    border: none;
    background-color: #f1f3f6;
    border-radius: 30px;
    font-size: 15px;
    color: #747b86;
    padding: 7px 15px;

    &:hover {
      background-color: $blue-color;
      color: #fff;
    }

    &.mixitup-control-active {
      background-color: $blue-color;
      color: #fff;
    }
  }
}

.newest__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newest__item {
  max-width: 360px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  margin-bottom: 30px;

  .divider {
    width: 100%;
    height: 1px;
    background-color: $lightgrey-color;
    position: absolute;
    bottom: 50px;
  }
}

.newest__item-img {
  max-height: 230px;
  &:hover + .newest__item-btn {
      display: block;
  }
}

.newest__item-btn {
  position: absolute;
  top: 86px;
  left: 45px;
  display: none;

  &:hover {
    display: block;
  }
  .more__info {
    @extend %rounded-button-transparent;
    font-size: 15px;
    font-weight: 500;
  }

  .live__demo {
    @extend %rounded-button-white;
    font-weight: 700;
    font-size: 15px;
  }
}

.newest__item-info {
  background-color: #fff;
  padding: 30px 30px 10px 30px;

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
  }

  &__author {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &__name {
    display: flex;
    align-items: center;
    span {
      padding-left: 9px;
      font-size: 15px;
      color: #000;
      font-weight: 700;
      font-size: 15px;
    }
  }

  &__category {
    display: flex;
    align-items: center;
    padding-left: 18px;

    span {
      padding-left: 9px;
      font-size: 15px;
      color: $purple-color;
    }
  }
}

.newest__item-descr {
  padding-bottom: 23px;
}

.newest__item-stats {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.price__button {
  font-size: 15px;
  color: $blue-color;
  font-weight: 500;
  background-color: rgba($blue-color, .1);
  padding: 0 17px;
  border-radius: 30px;
}

.likes__button {
  display: flex;
  align-items: center;
  padding-right: 130px;
  span {
    font-size: 15px;
    color: #6f7d8d;
    padding-left: 6px;
  }
}

.cart_button {
  display: flex;
  align-items: center;

  span {
    font-size: 15px;
    color: $blue-color;
    padding-left: 6px;
  }
}

.newest__all-button {
  text-align: center;
  margin-top: 59px;

  a {
    @extend %rounded-button-blue;
    background-color: $blue-color;
    color: #fff;


  }
}

.stats {
  background-color: #212225;
  padding: 97px 0 97px;

  &__items {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
}

.stats__item {
  text-align: center;

  &-number {
    font-size: 36px;
    line-height: 36px;
  }
  &-descr {
    font-size: 18px;
    line-height: 36px;
    color: #fff;
  }
}

.briefcase-icon {
  svg {
    path {
      fill: #feb71d;
    }
  }
}

.sales-icon {
  svg {
    path {
      fill: #58c9e9;
    }
  }
}

.smile-icon {
  svg {
    path {
      fill: #77de51;
    }
  }
}

.users-icon {
  svg {
    path {
      fill: #ff6a6d;
    }
  }
}

.briefcase-title {
  color: #feb71d;
}

.sales-title {
  color: #58c9e9;
}

.smile-title {
  color: #77de51;
}

.users-title {
  color: #ff6a6d;
}

@import 'media';
