@import 'vars';
@import 'global';
@import 'libs';
@import 'fonts';

.header__inner {
  background-color: $lightgrey-color;
}

.header__top {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.header__btn {
  padding: 4px 18px;
  background-color: $blue-color;
  border-radius: 30px;
  text-align: center;
  margin-right: 390px;

  a {
    color: #fff;
    font-size: 14px;
    line-height: 28px;
  }
}

.header__menu-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  height: 80px;
  align-items: center;

  li {
    color: $darkgrey-color;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 42px;

    & + li {
      margin-left: 34px;
    }
  }
}

.header__search {
  position: relative;

  input {
    border: 1px solid #d9dfe5;
    border-radius: 30px;
    padding: 15px 86px 15px 26px;

    &::placeholder {
      font-size: 15px;
      line-height: 30px;
      color: #898f96;
    }
  }

  button {
    border: none;
    background-color: $blue-color;
    padding: 15px 27px;
    border-radius: 30px;
    position: absolute;
    right: 0;
  }
}

.search {
  min-height: 725px;
  margin-bottom: 230px;

  .container {
    position: relative;
  }
}

.search__content {
  padding-top: 184px;
  color: #fff;
  text-align: center;

  &-title {
    font-size: 60px;
    line-height: 70px;
    padding-bottom: 50px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

    span {
      font-weight: 700;
      display: block;
    }
  }

  &-descr {
    font-size: 20px;
    padding-bottom: 73px;
  }
}

.search__content-btn {
  margin-bottom: 120px;
}

.search__btn-white {
  @extend %rounded-button-white;
  margin-right: 30px;
}

.search__btn-transparent {
  @extend %rounded-button-transparent;
}

.search__form-inner {
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
  position: absolute;
  width: 100%;
  z-index: 3;

  span {
    position: absolute;
    background-color: #ffffff;
    max-width: 1140px;
    width: 100%;
    height: 20px;
    bottom: 130px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px;
    opacity: .5;
    z-index: 2;
  }

  span + span {
    max-width: 1110px;
    height: 30px;
    z-index: 1;
  }
}

.search__form {
  display: flex;
  justify-content: space-between;

  input {
    border-radius: 4px 0 0 4px;
    border: 1px solid #dcdcdc;
    padding: 20px 28px;
    max-width: 614px;
    width: 100%;

    &::placeholder {
      color: #676767;
    }
  }

  select {
    border-radius: 0 4px 4px 0;
    border: 1px solid #dcdcdc;
    border-left: none;
    padding: 20px;
    margin-right: 52px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url('../img/icons/arrow_down_icon.png') no-repeat 170px center;
    color: #676767;
  }

  button {
    background-color: $blue-color;
    border: none;
    border-radius: 4px;
    color: #fff;
    max-width: 223px;
    width: 100%;

  }
}

.benefits__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
  text-align: center;
  margin-bottom: 120px;
}

.benefits__item {
  max-width: 364px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  transition: all .3s;

  &:hover {
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.08);
    z-index: 1;
  }

  &-content {
    padding: 41px 26px 50px 26px;
  }

  &-title {
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
  }

  &-descr {
    max-width: 360px;
    width: 100%;
  }
}

@import 'media';
