@import 'vars';
@import 'global';
@import 'libs';
@import 'fonts';
//header section start
.header__inner {
  background-color: $lightgrey-color;
}

.header__top {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.header__top-menu__list {
  display: flex;
  margin-left: 65px;
  margin-right: 65px;

  li + li {
    padding-left: 22px;
  }
}

.header__btn {
  padding: 4px 18px;
  background-color: $blue-color;
  border-radius: 30px;
  text-align: center;
  //margin-right: 390px;

  a {
    color: #fff;
    font-size: 14px;
    line-height: 28px;
  }
}

.header__menu-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu__btn {
  display: none;
}
.menu__list {
  display: flex;
  height: 80px;
  align-items: center;
  position: relative;

  li {
    color: $darkgrey-color;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 42px;
    height: 80px;
    margin-top: 40px;

    & + li {
      margin-left: 34px;
    }
  }

  .wordpress-link {
    .dropdown {
      display: none;
    }
  }

  //.all-products-link {
  //  .dropdown {
  //    display: none;
  //  }
  //}
}

.header__search {
  position: relative;

  input {
    border: 1px solid #d9dfe5;
    border-radius: 30px;
    padding: 15px 86px 15px 26px;

    &::placeholder {
      font-size: 15px;
      line-height: 30px;
      color: #898f96;
    }
  }

  button {
    border: none;
    background-color: $blue-color;
    padding: 15px 27px;
    border-radius: 30px;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}

.header__dropdown {
  display: flex;
  align-items: center;
}

.header__circle {
  position: relative;
  margin-left: 30px;

  .number {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $darkgrey-color;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    z-index: 1;
    top: -11px;
    right: -13px;
  }

  .icon {
    font-size: 20px;
  }
}

.notification {
  .number {
    background-color: #ff6a6c;
  }
}

.messages {
  .number {
    background-color: #62d03b;
  }
}

.cart {
  .number {
    background-color: $blue-color;
  }
}

.header__account {
  display: flex;
  align-items: center;

  &-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 22px;
  }

  &-name {
    line-height: 22px;
    color: $darkgrey-color;
    font-weight: 500;
    display: block;
  }

  &-balance {
    font-size: 15px;
    line-height: 22px;
    color: $blue-color;
  }
}

.account__box {
  position: relative;
  height: 100px;
  margin-top: 47px;

  &:hover {
    .account__box-item {
      display: block;
    }
  }
}

.account__box-item {
  display: none;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 76px;
  border-top: 1px solid $blue-color;
  width: 230px;
  left: -57px;
  transition: all .5s;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 5px 40px 0 rgba(82, 85, 90, 0.2);

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid $blue-color;
    top: -9px;
    right: 28px;
    position: absolute;
    z-index: 3;
  }
}

.account__box-inner {
  padding: 7px 11px 3px 21px;
}

.account__box-list {
  li {
    font-size: 14px;
    color: #54667a;

    a {
      background-color: transparent;
      padding: 8px 0 8px 9px;

      &:hover {
        color: #fff;
        background-color: $blue-color;
        padding: 8px 0 8px 9px;
        width: 190px;
        border-radius: 3px;
      }
    }

    span {
      padding-right: 16px;
    }
  }
}

.cart__box,
.message__box,
.notification__box {
  position: relative;
  height: 100px;
  margin-top: 69px;

  &:hover {
    .menu__dropdown {
      display: block;
    }
  }
}

.menu__dropdown {
  display: none;
  background-color: #fff;
  position: absolute;
  max-width: 400px;
  top: 65px;
  right: -30px;
  z-index: 1;
  border-top: 1px solid $blue-color;
  border-radius: 0 0 3px 3px;

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid $blue-color;
    top: -9px;
    right: 28px;
    position: absolute;
    z-index: 3;
  }
}

.menu__inner {
  padding: 32px 25px 0 25px;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e8ebf0;

  &-img {
    padding-right: 15px;
  }

  &-info {
    padding-right: 30px;
    width: 220px;
  }

  &-title {
    font-weight: 500;
    color: #000;
    line-height: 22px;
  }

  &-category {
    color: $purple-color;
    display: flex;
    align-items: center;
    margin-top: 5px;

    img {
      padding-right: 6px;
    }
  }

  &-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-delete {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #f1ecf9;
    text-align: center;
    line-height: 32px;
    cursor: pointer;

    span {
      font-size: 15px;
      color: #818c98;
    }
  }

  &-price {
    color: $blue-color;
    background-color: rgba($blue-color, .1);
    border-radius: 30px;
    padding: 0 11px;
    margin-top: 10px;
  }

  &-total {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    text-align: right;
    margin-bottom: 17px;

    span {
      padding-right: 30px;
    }
  }
}

.cart__item-goto {
  display: flex;
  text-align: center;
}

.cart-btn {
  color: #fff;
  background-color: $purple-color;
  padding: 15px 0;
  font-size: 15px;
  width: 100%;
  border-radius: 0 0 0 3px;
}

.checkout-btn {
  color: #fff;
  background-color: $blue-color;
  padding: 15px 0;
  font-size: 15px;
  width: 100%;
  border-radius: 0 0 3px 0;
}

.message__item-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8ebf0;
}

.message__item-title {
  font-size: 18px;
  line-height: 28px;
  color: #000;
}

.message__item-view {
  color: $blue-color;
  font-size: 15px;
  line-height: 28px;
}

.message__item-message {
  padding: 20px 1px;
  position: relative;
  border-bottom: 1px solid #e8ebf0;
}

.message__item-main {
  display: flex;
}

.message__item-img {
  padding-right: 14px;

}

.message__item-author {
  width: 290px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

}

.message__item-name {
  padding-right: 15px;
  line-height: 20px;
  color: $darkgrey-color;
  max-width: 170px;
  display: flex;
  align-items: center;

  span, img {
    color: $blue-color;
    font-size: 15px;
    line-height: 26px;
    padding-left: 15px;
  }
}

.message__item-date {
  font-size: 14px;
  line-height: 28px;
  color: $blue-color;
}

.completed {
  color: #747a86;
}

.message__item-text {
  display: inline-block;
  font-size: 15px;
  position: absolute;
  bottom: 10px;
  left: 56px;
}

.notification__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-img {
    padding-right: 15px;
  }

  &-info {
    width: 215px;
    padding: 20px 0;
  }

  &-name {
    color: $darkgrey-color;
    font-weight: 500;

    .state {
      font-size: 15px;
      color: #747a86;
      font-weight: 400;
      line-height: 20px;
    }
  }

  &-product {
    font-size: 15px;
    line-height: 22px;
    color: $blue-color;
  }

  &-date {
    font-size: 14px;
    line-height: 28px;
    color: #747a86;
  }

  &-icon {
    margin-left: 25px;
  }
}

.notification__item-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;

  span {
    font-size: 14px;
  }

  .lnr-heart {
    color: $blue-color;
  }

  .lnr-bubble {
    color: $purple-color;
  }

  .lnr-cart {
    color: #ff6a6c;
  }

  .lnr-star {
    color: #62d03a;
  }
}

.blue-bg {
  background-color: rgba(#0674eb, .1);
}

.purple-bg {
  background-color: rgba($purple-color, .1);
}

.red-bg {
  background-color: rgba(#ff6a6c, .1);
}

.green-bg {
  background-color: rgba(#62d03a, .1);
}

.dropdown {
  display: none;
  background-color: #fff;
  border-top: 1px solid $blue-color;
  position: absolute;
  top: 80px;
  z-index: 1;
  padding: 20px 20px 25px 20px;
  width: 270px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 5px 40px 0 rgba(82, 85, 90, 0.2);

  li {
    margin-top: 0;
    height: 60px;

    & + li {
      margin: 0;
    }

    a {
      font-size: 15px;
      color: #54667a;
      background-color: transparent;
      padding: 8px 0 8px 9px;

      &:hover {
        color: #fff;
        background-color: $blue-color;
        padding: 8px 0 8px 9px;
        width: 230px;
        border-radius: 3px;
      }
    }
  }
}

.dropdown__mega {
  display: none;
  background-color: #fff;
  border-top: 1px solid $blue-color;
  position: absolute;
  top: 80px;
  right: -640px;
  z-index: 5;
  padding: 20px 20px 25px 20px;
  max-width: 1140px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 5px 40px 0 rgba(82, 85, 90, 0.2);

  li {
    margin-top: 0;
    height: 60px;

    & + li {
      margin: 0;
    }

    a {
      font-size: 15px;
      color: #54667a;
      background-color: transparent;
      padding: 8px 0 8px 9px;
      line-height: 20px;

      &:hover {
        color: #fff;
        background-color: $blue-color;
        padding: 8px 0 8px 9px;
        width: 210px;
        border-radius: 3px;
      }
    }
  }
}

.dropdown__mega-title {
  display: flex;
  justify-content: space-around;
  line-height: 40px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #000;
  font-size: 16px;

  &__first {
    width: 39%;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8ebf0;
  }

  &__second {
    width: 19%;
    border-bottom: 1px solid #e8ebf0;
  }

  &__third {
    width: 39%;
    border-bottom: 1px solid #e8ebf0;
  }
}

.dropdown-mega__inner {
  display: flex;

  ul {
    width: 220px;
  }
}

.dropdown__mega-twocol {
  display: flex;
}

.home-link:hover {
  .dropdown {
    display: block;
  }

  .home {
    color: $blue-color;
  }
}

.wordpress-link:hover {
  .dropdown {
    display: block;
  }

  .wordpress {
    color: $blue-color;
  }
}

.all-products-link:hover {
  .dropdown {
    display: block;
  }

  .all-products {
    color: $blue-color;
  }
}

.pages-link:hover {
  .dropdown__mega {
    display: block;
  }

  .pages {
    color: $blue-color;
  }
}

//header section end
//search section start
.search {
  min-height: 725px;
  margin-bottom: 230px;

  .container {
    position: relative;
  }
}

.search__content {
  padding-top: 184px;
  color: #fff;
  text-align: center;

  &-title {
    font-size: 60px;
    line-height: 70px;
    padding-bottom: 50px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

    span {
      font-weight: 700;
      display: block;
    }
  }

  &-descr {
    font-size: 20px;
    padding-bottom: 73px;
  }
}

.search__content-btn {
  margin-bottom: 120px;
}

.search__btn-white {
  @extend %rounded-button-white;
  margin-right: 30px;
}

.search__btn-transparent {
  @extend %rounded-button-transparent;
}

.search__form-inner {
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
  position: absolute;
  width: 100%;
  z-index: 3;

  span {
    position: absolute;
    background-color: #ffffff;
    max-width: 1140px;
    width: 100%;
    height: 20px;
    bottom: 130px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px;
    opacity: .5;
    z-index: 2;
  }

  span + span {
    max-width: 1110px;
    height: 30px;
    z-index: 1;
  }
}

.search__form {
  display: flex;
  justify-content: space-between;

  input {
    border-radius: 4px 0 0 4px;
    border: 1px solid #dcdcdc;
    padding: 20px 28px;
    max-width: 614px;
    width: 100%;

    &::placeholder {
      color: #676767;
    }
  }

  select {
    border-radius: 0 4px 4px 0;
    border: 1px solid #dcdcdc;
    border-left: none;
    padding: 20px;
    margin-right: 52px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url('../img/icons/arrow_down_icon.png') no-repeat 170px center;
    color: #676767;
  }

  button {
    background-color: $blue-color;
    border: none;
    border-radius: 4px;
    color: #fff;
    max-width: 223px;
    width: 100%;
    cursor: pointer;
  }
}

//search section end
//benefits section start

.benefits__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
  text-align: center;
  margin-bottom: 120px;
}

.benefits__item {
  max-width: 364px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  transition: all .3s;

  &:hover {
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.08);
    z-index: 1;
  }

  &-content {
    padding: 41px 26px 50px 26px;
  }

  &-title {
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
  }

  &-descr {
    max-width: 360px;
    width: 100%;
  }
}

//benefits section end
//featured section start
.featured {
  background-color: #eff1f5;
  padding-top: 120px;
  padding-bottom: 120px;
}

.featured__top {
  margin-bottom: 50px;
  height: 110px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(108, 111, 115, 0.1);
  display: flex;
  align-items: center;

  &-title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    color: #000;
    padding-left: 30px;
  }
}

.featured__slider-item {
  display: flex;
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 30px 0 rgba(147, 155, 168, 0.1);
  min-width: 0;
  position: relative;
}

.featured__slider-img {
  max-height: 450px;
}

.featured__slider-info {
  background-color: #fff;
  padding: 51px 50px 25px 51px;
  position: absolute;
  max-width: 585px;
  top: 0;
  right: 0;

}

.featured__slider-title {
  font-size: 24px;
  color: #000;
  font-weight: 500;
  padding-bottom: 23px;
}

.featured__slider-maininfo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.featured__slider-author {
  display: flex;
  align-items: center;
  padding-right: 20px;

  span {
    padding-left: 9px;
    font-size: 15px;
    color: #000;
    font-weight: 700;
  }
}

.featured__slider-category {
  display: flex;
  align-items: center;

  span {
    padding-left: 9px;
    color: $purple-color;
    font-size: 15px;
  }
}

.featured__slider-descr {
  margin-bottom: 30px;
}

.featured__slider-tags {
  border-bottom: 1px solid $lightgrey-color;
  padding-bottom: 25px;

  a {
    color: #868c96;
    font-size: 15px;
    background-color: $lightgrey-color;
    border-radius: 30px;
    padding: 3px 14px;

    & + a {
      margin-left: 7px;
    }
  }
}

.featured__slider-stats {
  padding-top: 23px;
  display: flex;
  align-items: center;

  .price__button {
    background-color: $blue-color;
    border-radius: 30px;
    padding: 3px 18px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }

  .likes__button {
    margin-left: 19px;
    font-size: 15px;
    color: $grey-color;
    display: flex;
    align-items: center;
    padding-right: 20px;

    span {
      padding-left: 8px;
    }
  }

  .cart_button {
    display: flex;
    align-items: center;

    span {
      padding-left: 8px;
      color: $blue-color;
    }
  }
}

.featured__slider {
  position: relative;

  .slick-track {
    display: flex;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-arrow {
    position: absolute;
    font-size: 0;
    border: none;
    width: 55px;
    height: 45px;
    background-color: $purple-color;
    top: -127px;
    outline: none;
    cursor: pointer;

    &.slick-prev {
      right: 78px;
      z-index: 2;
      border-radius: 30px 0 0 30px;
      background-image: url('../img/icons/arrow_left_icon.png');
      background-repeat: no-repeat;
      background-position: center center;
    }

    &.slick-next {
      right: 23px;
      border-radius: 0 30px 30px 0;
      background-image: url('../img/icons/arrow_right_icon.png');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

//featured section end
//newest section start
.newest {
  background-color: #f6f7fb;
  padding-bottom: 120px;
}

.newest__top {
  margin-bottom: 30px;
  height: 110px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(108, 111, 115, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  &-title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    color: #000;
    padding-left: 30px;
  }

  &-filter {
    a {
      display: flex;
      align-items: center;
    }

    span {
      color: #747b86;
      margin-right: 25px;
    }
  }
}

.newest__filters {
  margin-bottom: 30px;
  height: 110px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 2px 0 rgba(90, 93, 100, 0.1);

  button {
    margin: 0 10px;
    border: none;
    background-color: #f1f3f6;
    border-radius: 30px;
    font-size: 15px;
    color: #747b86;
    padding: 7px 15px;
    cursor: pointer;

    &:hover {
      background-color: $blue-color;
      color: #fff;
    }

    &.mixitup-control-active {
      background-color: $blue-color;
      color: #fff;
    }
  }
}

.newest__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newest__item {
  max-width: 360px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  margin-bottom: 30px;

  .divider {
    width: 100%;
    height: 1px;
    background-color: $lightgrey-color;
    position: absolute;
    bottom: 50px;
  }
}

.newest__item-img {
  max-height: 230px;

  &:hover + .newest__item-btn {
    display: block;
  }
}

.newest__item-btn {
  position: absolute;
  top: 86px;
  left: 45px;
  display: none;

  &:hover {
    display: block;
  }

  .more__info {
    @extend %rounded-button-transparent;
    font-size: 15px;
    font-weight: 500;
  }

  .live__demo {
    @extend %rounded-button-white;
    font-weight: 700;
    font-size: 15px;
  }
}

.newest__item-info {
  background-color: #fff;
  padding: 30px 30px 10px 30px;

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
  }

  &__author {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &__name {
    display: flex;
    align-items: center;

    span {
      padding-left: 9px;
      font-size: 15px;
      color: #000;
      font-weight: 700;
    }
  }

  &__category {
    display: flex;
    align-items: center;
    padding-left: 18px;

    span {
      padding-left: 9px;
      font-size: 15px;
      color: $purple-color;
    }
  }
}

.newest__item-descr {
  padding-bottom: 23px;
}

.newest__item-stats {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.price__button {
  font-size: 15px;
  color: $blue-color;
  font-weight: 500;
  background-color: rgba($blue-color, .1);
  padding: 0 17px;
  border-radius: 30px;
}

.likes__button {
  display: flex;
  align-items: center;
  padding-right: 130px;

  span {
    font-size: 15px;
    color: #6f7d8d;
    padding-left: 6px;
  }
}

.cart_button {
  display: flex;
  align-items: center;

  span {
    font-size: 15px;
    color: $blue-color;
    padding-left: 6px;
  }
}

.newest__all-button {
  text-align: center;
  margin-top: 59px;

  a {
    @extend %rounded-button-blue;
    background-color: $blue-color;
    color: #fff;


  }
}

//newest section end
//stats section start
.stats {
  background-color: #212225;
  padding: 97px 0 97px;

  &__items {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
}

.stats__item {
  text-align: center;

  &-number {
    font-size: 36px;
    line-height: 36px;
  }

  &-descr {
    font-size: 18px;
    line-height: 36px;
    color: #fff;
  }
}

.briefcase-icon {
  svg {
    path {
      fill: #feb71d;
    }
  }
}

.sales-icon {
  svg {
    path {
      fill: #58c9e9;
    }
  }
}

.smile-icon {
  svg {
    path {
      fill: #77de51;
    }
  }
}

.users-icon {
  svg {
    path {
      fill: #ff6a6d;
    }
  }
}

.briefcase-title {
  color: #feb71d;
}

.sales-title {
  color: #58c9e9;
}

.smile-title {
  color: #77de51;
}

.users-title {
  color: #ff6a6d;
}

//stats section end
//whychoose section start
.whychoose__inner {
  padding: 120px 0 120px;
  text-align: center;
}

.whychoose__title {
  font-size: 36px;
  color: #000;
  margin-bottom: 30px;

  span {
    color: $blue-color;
  }
}

.whychoose__descr {
  max-width: 672px;
  right: 0;
  left: 0;
  margin: 0 auto 60px;
}

.whychoose__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.whychoose__item {
  max-width: 361px;
  padding: 56px 35px 62px 35px;
  margin-bottom: 35px;
  box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.08);
  position: relative;

  &::before {
    counter-increment: items;
    content: '0' counter(items);
    position: absolute;
    font-size: 48px;
    color: #5c87f8;
    top: 20px;
    left: 20px;
    opacity: .2;
    font-weight: 300;
  }

  &-img {
    min-height: 60px;
    margin-bottom: 30px;
  }

  &-title {
    font-size: 24px;
    color: #000;
    margin-bottom: 23px;
  }
}

.payment-icon {
  svg {
    path {
      fill: $blue-color;
    }
  }
}

.quality-icon {
  svg {
    path {
      fill: #7f4ec2;
    }
  }
}

.secure-icon {
  svg {
    path {
      fill: #77de51;
    }
  }
}

.code-icon {
  svg {
    path {
      fill: #feb71d;
    }
  }
}

.update-icon {
  svg {
    path {
      fill: #58c9e9;
    }
  }
}

.support-icon {
  svg {
    path {
      fill: #ff6a6d;
    }
  }
}

//whychoose section end
//become user section start

.becomeuser__inner {
  display: flex;
  text-align: center;
  margin-bottom: 120px;
}

.becomeuser__sell {
  background-image: url(../img/sell_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 960px;
  width: 100%;
  padding: 100px 10px;
}

.becomeuser__buy {
  background-image: url(../img/buy_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 960px;
  width: 100%;
  padding: 100px 10px;
}

.becomeuser__img {
  margin-bottom: 50px;
}

.becomeuser__title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 35px;
}

.becomeuser__descr {
  color: #fff;
  margin-bottom: 35px;
}

.becomeuser__btn {
  a {
    @extend %rounded-button-white;
  }

  .sell-btn {
    color: $blue-color;
  }

  .buy-btn {
    color: $purple-color;
  }
}

//become user section end
//review section start
.reviews__inner {
  margin-bottom: 120px;
}

.reviews__title {
  font-size: 36px;
  color: #000;
  margin-bottom: 30px;
  text-align: center;

  span {
    color: $blue-color;
  }
}

.reviews__descr {
  max-width: 672px;
  right: 0;
  left: 0;
  margin: 0 auto 60px;
  text-align: center;
}

.reviews__items {
  display: flex;
  justify-content: space-between;
}

.reviews__item {
  box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.08);
  max-width: 555px;
  padding: 50px 40px;
  border-left: 2px solid $blue-color;
}

.reviews__item-author {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__name {
    font-size: 20px;
    color: #000;
    line-height: 20px;
    padding-bottom: 15px;
  }

  &__img {
    //padding-right: 20px;
  }
}

.reviews__item-author__info {
  max-width: 300px;
  margin-right: 100px;
}

.reviews__item-text {
  margin-top: 30px;
}

.reviews__btn-all {
  text-align: center;
  margin-top: 60px;

  a {
    @extend %rounded-button-blue;
  }
}

//review section end
//news section start
.news {
  background-color: #eff1f5;
}

.news__inner {
  padding: 120px 0;
}

.news__title {
  font-size: 36px;
  color: #000;
  margin-bottom: 30px;
  text-align: center;

  span {
    color: $blue-color;
  }
}

.news__descr {
  max-width: 672px;
  right: 0;
  left: 0;
  margin: 0 auto 60px;
  text-align: center;
}

.news__items {
  display: flex;
  justify-content: space-between;
}

.news__item {
  max-width: 360px;
  position: relative;

  .divider {
    width: 100%;
    height: 1px;
    background-color: $lightgrey-color;
    position: absolute;
    bottom: 50px;
  }
}

.newest__item-stats {
  display: flex;
  line-height: 30px;

  span {
    font-size: 15px;
    color: #7e7e7e;
  }
}

.pub__date {
  span {
    color: #999999;
  }
}

.pub__date {
  display: flex;
  align-items: center;
  padding-right: 47px;
  border-right: 1px solid #ececec;

  span {
    padding-left: 3px;
  }
}

.views__num {
  display: flex;
  align-items: center;

  span {
    padding-left: 3px;
  }
}

.comments__num {
  display: flex;
  align-items: center;

  span {
    padding-left: 3px;
  }
}

//news section end

//guarantee section start

.guarantee {
  padding: 62px 0;

  .divider {

  }
}

.guarantee__items {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.guarantee__item {
  &-title {
    font-size: 24px;
    margin-top: 30px;

    .blue-color {
      color: $blue-color;
    }

    .purple-color {
      color: $purple-color;
    }
  }
}

//guarantee section end
//joinus section start

.joinus {
  background-image: url(../img/joinus_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  padding: 110px 0;
}

.joinus__inner {
  text-align: center;
  color: #fff;
}

.joinus__title {
  font-size: 36px;
  padding-bottom: 24px;
}

.joinus__descr {
  font-size: 18px;
  padding-bottom: 40px;
}

.joinus__btn {
  a {
    @extend %rounded-button-white;
  }
}

//joinus section end
//footer section start

.footer {
  background-color: #262b30;
}

.footer__top-inner {
  padding: 115px 0 120px 0;
  display: flex;
  justify-content: space-between;
  color: #ababab;
  flex-wrap: wrap;
}

.footer__top-info {
  max-width: 264px;

  a {
    color: #ababab;
  }

  &__about {
    margin: 34px 0;
  }

  &__phone {
    margin-bottom: 7px;
    display: flex;
    align-items: center;

    span {
      padding-left: 10px;
    }
  }

  &__email {
    margin-bottom: 7px;
    display: flex;
    align-items: center;

    a {
      padding-left: 10px;
    }
  }

  &__address {
    display: flex;
    align-items: center;

    span {
      padding-left: 10px;
    }
  }
}

.footer__title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 25px;
}

.footer__top-menu {
  max-width: 135px;
}

.footer__top-menu__list {
  li {
    padding-bottom: 3px;

    a {
      font-size: 15px;
      color: #ababab;
    }
  }
}

.footer__top-newsletter {
  max-width: 360px;

  &__text {
    font-size: 15px;
    padding-bottom: 20px;
  }

  form {
    position: relative;
    display: flex;

    input {
      background-color: #fff;
      border: none;
      border-radius: 30px;
      height: 50px;
      padding: 0 120px 0 30px;
      width: 100%;
    }

    input::placeholder {
      font-size: 15px;
      line-height: 28;
      color: #ababab;
    }

    button {
      border: none;
      height: 50px;
      background-color: $blue-color;
      color: #fff;
      border-radius: 30px;
      padding: 0 31px;
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }
}

.footer__top-social__link {
  margin-top: 42px;

  li {
    display: inline-block;

    & + li {
      margin-left: 13px;
    }
  }

  a {
    background-image: url(../img/icons/social_footer_sprite.png);
    width: 42px;
    height: 42px;
  }
}

.link-twitter {
  background-position: -42px 0;
}

.link-google {
  background-position: 0 -42px;
}

.link-pinterest {
  background-position: -42px -42px;
}

.link-linkedin {
  background-position: -84px 0;
}

.link-behance {
  background-position: -84px -42px;
}

.footer__copy {
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #192027;

  &-text {
    color: #999999;

    span {
      color: #fff;
    }
  }
}

//footer section end
@import 'media';


